.places h1 {
	font-size: 30px;
	text-align: left;
}

section.places {
	text-align: center;
}

div.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.places article {
	display: inline-block;
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
}

.places h2 {
	display: inline-block;
	font-size: 30px;
}


div.price_by_night {
	position: relative;
	left: 40px;
	display: inline-block;
	color: #FF5A5F;
	border: 3px solid #FF5A5F;
	border-radius: 100%;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
}

div.information {
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

div.information div {
	display: inline-block;
	width: 100px;
	height: 100%;
	line-height: 140px;
	background-repeat: no-repeat;
	background-position: 50% 5px;
}

div.max_guest {
	background: url(../images/icon_group.png);
}

div.number_rooms {
	background: url(../images/icon_bed.png);
}

div.number_bathrooms {
	background: url(../images/icon_bath.png);
}

/*
	=====================
	More Information
	=====================
*/

div.user {
	margin-top: 10px;
	margin-bottom: 10px;
}
div.description,
div.user {
	text-align: left;
}

article .amenities, 
article .reviews {
	margin-top: 40px;
	text-align: left;
}

article .amenities h2,
article .reviews h2 {
	display: block;
	font-size: 16px;
	border-bottom: 1px solid #DDDDDD;
}

article .amenities li {
	background-position: 5px 50%;
	background-repeat: no-repeat;
	background-size: 20px;
	margin-bottom: 7px;
	margin-top: 7px;
	padding-left: 50px;
}

li.pet {
	background: url(../images/icon_pets.png)
}
li.tv {
	background: url(../images/icon_tv.png)
}
li.wifi {
	background: url(../images/icon_wifi.png)
}

.reviews h3 {
	font-size: 14px;
}
.reviews p {
	font-size: 12px;
}
