section.filters {
	background-color: #FFFFFF;
	height: 4.375rem;
	width: 100%;
	border: 0.0625rem solid #DDDDDD;
	border-radius: 0.25rem;
	position: relative;
}

section.filters button {
	font-size: 1.125rem;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 3rem;
	width: 20%;
	border: none;
	border-radius: 0.25rem;
	position: absolute;
	top: 50%;
	margin-top: -1.5rem;
	right: 1.875rem;
	/*float: right;
	margin: 11px 30px;*/
}

.filters button:hover {
	opacity: 90%;
}

section.filters div {
	position: relative;
	float: left;
	height: 100%;
	width: 25%;
}

section.filters div.locations  {
	border-right: 0.0625rem solid #DDDDDD;
}

section.filters h3 {
	font-weight: 600;
	font-size: 1rem;
	margin-top: 1.25rem;
	margin-bottom: -1rem;
	text-align: left;
	margin-left: 1.875rem;
}
section.filters div h4 {
	font-weight: 400;
	font-size: 0.875rem;
	margin-bottom: 0.2rem;
	margin-left: 1.875rem;
	text-align: left;
}

ul.popover {
	display: none;
	width: 100%;
	background-color: #FAFAFA;
	border: 0.0625rem solid #DDDDDD;
	border-radius: 0.25rem;
	padding-left: 0;
}

.popover h2 {
	margin: 0.625rem 0 0.625rem 1.875rem;
	font-size: 1rem;
}

li {
	list-style-type: none;
}

.amenities .popover li {
	margin-top: 0.625;
	margin-left: 1.875;
}

div.locations:hover .popover,
div.amenities:hover .popover {
	display: block;
}

@media (max-width: 62.5rem) {
	section.filters,
	.places h1 {
		margin-left: .625rem;
	}
}
@media (max-width: 43.75rem) {
	section.filters h3 {
		margin-top: 0.625rem;
	}
}

@media (max-width: 453px) {
	section.filters {
		padding-bottom: 0.625rem;
	}
}
